section .page_content.reverse_colors {
    background-color: #ffffff;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.right .text_container {
    color: #000000;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.right .text_container .button {
    background-color: #ffffff00;
    color: #000000;

    border: 0px solid #000000;

    box-shadow: inset 0px 0px 0px 2px #000000;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.right .text_container .button:hover {
    background-color: #000000;
    border: 2px solid #000000;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
    color: #ffffff;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.right .text_container .button:active {
    background-color: #000000;
    border: 0px solid #ffffff;

    box-shadow: inset 0px 0px 0px 2px #000000;
    color: #ffffff;
}


section .page_content.reverse_colors .context_container .text_container_wrapper.bottom_right .text_container {
    color: #000000;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.bottom_right .text_container .button {
    background-color: #ffffff00;
    color: #000000;

    border: 0px solid #000000;

    box-shadow: inset 0px 0px 0px 2px #000000;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.bottom_right .text_container .button:hover {
    background-color: #000000;
    border: 2px solid #000000;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
    color: #ffffff;
}

section .page_content.reverse_colors .context_container .text_container_wrapper.bottom_right .text_container .button:active {
    background-color: #000000;
    border: 0px solid #ffffff;

    box-shadow: inset 0px 0px 0px 2px #000000;
    color: #ffffff;
}

