section#what .page_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#what .page_content .context_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#what .page_content .context_container .text_info {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #FFFFFF;
    flex-direction: column;
    gap: 14px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

section#what .page_content .context_container .text_info .header {
    font-family: "Exo Bold";
    font-size: 64px;
    padding-left: 80px;
}

section#what .page_content .context_container .text_info .paragraph {
    font-family: "Exo Regular";
    font-size: 20px;
    padding-left: 80px;
}

section#what .page_content .context_container .trailer_video_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
    flex-direction: column;
    gap: 14px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

section#what .page_content .context_container .trailer_video_container svg {
    padding-right: 80px;
    width: 50%;
    height: 50%;
    transition: 250ms ease-in-out;

}
section#what .page_content .context_container .trailer_video_container svg:hover {
    transform: scale(110%);
}

section#what .page_content .context_container .trailer_video_container svg:active {
    transition: 80ms ease-in-out;
    transform: scale(125%);
}
