html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.master_container {
    width: 100%;
}

.background {
    position: fixed;

    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.relative_components {
    position: relative;

    width: 100vw;
    height: 100vh;

    z-index: 100;
}

.fixed_layer {
    position: fixed;

    width: 100vw;
    height: 100vh;

    z-index: 500;
}

@keyframes arrow {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, 10px); }
    100% { transform: translate(0px, 0px); }
}

.scroll_icon {
    position: fixed;
    bottom: 25px;
    right: 50px;
}

.scroll_icon svg path.arrow {
    animation-name: arrow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@font-face {
    font-family: "Exo Regular";
    src: url("fonts/Exo-Regular.ttf");
}

@font-face {
    font-family: "Exo Bold";
    src: url("fonts/Exo-Bold.ttf");
}
