.navigator {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    background-color: #7c7c7c4b;
    z-index: 5000;
    font-family: "Montserrat Regular";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-bottom: 1px solid #7c7c7c4b;
    box-sizing: border-box;
    user-select: none;
    z-index: 500000;
    pointer-events: all;
}

.navigator.patreon {
    background-color: #15141A;
}

.navigator p {
    margin: 0px 4px 0px 4px;
    text-shadow: 0px 0px 5px #000000;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;

    transition: 80ms ease-in-out;
    pointer-events: all;
}

.navigator p:hover {
    background-color: #f0f8ff44;
}

.navigator svg {
    margin-left: 10px;
}

.navigator .seperator {
    flex: 1;
}

@media only screen and (max-width: 900px) {
    .navigator p {
        font-size: 13px;
    }

    .navigator svg {
        display: none;
    }

    .navigator .seperator {
        display: none;
    }
}